@model Restaurant.Areas.Admin.Models.Reservation.AllocateReservationToTableVM

@{
    ViewData["Title"] = "AllocateReservationToTable";
}

<h1>Allocate Reservation To Table  Annie working on this screen - sorry</h1>
<h1>  I will make this tidy soon, and then try and add drop and drag</h1>
<h4>Allocate Reservation To TableVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AllocateReservationToTable">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationStartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReservationStartTime)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfPeople)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfPeople)
        </dd>
            <div class="form-group">
                <label asp-for="ReservationComments" class="control-label"></label>
                <input asp-for="ReservationComments" class="form-control" />
                <span asp-validation-for="ReservationComments" class="text-danger"></span>
            </div>

             <div class="form-group">
               @*@Html.LabelFor(i => i.TableForSittings, new    {@class="control-label col-md-3"})*@
           @*  <input asp-for="TableForSittings"
                  @Html.ListBoxFor(i => i.Id, Model.TableForSittings, new { @class = "form-control" }) />*@

                  @*<input asp-for="TableForSittings"*@
                 @* @Html.ListBoxFor(i => i.TableForSittings, Model.TableForSittings, new { @class = "form*@-control" }) />           
              
                 <select multiple asp-for="SelectedTableIds" asp-items="Model.TableForSittings" class="form-control" ></select>
             </div>

            @*<div>
                <select id="SelectTableList" name="tableIds" asp-items="@Model.TableForSittings" multiple="multiple">
                    <option value="0">--Select a Table--</option>

                </select>

            </div>*@
            <div class="form-group">
                <input type="submit" value="AllocateReservationToTable" class="btn btn-primary" />
            </div>
              <input type="hidden" asp-for="ReservationId" />
            
            @*<script type="text/javascript">
               
                $(function() {
                     $("SelectTableList").select2();

                });
                
             </script>*@
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

