@model Restaurant.Data.Sitting

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sitting</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DurationReservation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DurationReservation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DurationSitting)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DurationSitting)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublicCanMakeReservation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublicCanMakeReservation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateAvailable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateAvailable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SittingTypeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SittingTypeName)
        </dd>
       
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
    </form>
    <a asp-action="Index">Back to List</a>
</div>
